/* Add your own styles */

body {
    margin: 0;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
}

header{
    background-color: #4a5568;
    display: flex;
    justify-content: center;
}

main #controls{
    margin: 20px;
    display: flex;
    justify-content: center;
}

#controls #lookup{
    background-color: #38b2ac;
    border-radius: 5px;
}

main #result{
    margin: 20px;
    display: flex;
    justify-content: center;
}